/* ----- BOOTSTRAP ----- */
.nav-link:hover{
    text-decoration: underline;
}
nav .btn:hover{
    background-color: var(--rosa-);
}
nav .dropdown-item:hover{
    background-color: var(--azul-1);
    text-decoration: underline;
}
.bs-mision{
    background-image: linear-gradient(var(--azul-1), var(--azul-3));
}
.bs-equipo{
    background-image: linear-gradient(var(--azul-3), var(--azul-1));
}
.navbar-toggler{
    color: #ffffff !important;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.nosotros main video{
    object-fit: cover;
    height: 100vh;
    z-index: -1;
}

@media (max-width: 767px) {
    .navbar-collapse{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgb(19, 39, 63, 0.95);
    }
}
