/* ----- BOOTSTRAP ----- */
.nav-link:hover{
    text-decoration: underline;
}
nav .btn:hover{
    background-color: var(--rosa-);
}
nav .dropdown-item:hover{
    background-color: var(--azul-1);
    text-decoration: underline;
}
.bs-mision{
    background-image: linear-gradient(var(--azul-1), var(--azul-3));
}
.bs-equipo{
    background-image: linear-gradient(var(--azul-3), var(--azul-1));
}
.navbar-toggler{
    color: #ffffff !important;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.nosotros main video{
    object-fit: cover;
    height: 100vh;
    z-index: -1;
}

/* ----- PORTFOLIO ----- */

.trabajos{
    background-image: linear-gradient(var(--azul-1), var(--azul-3));
}
.trabajos article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.trabajos .gallery{
    background-color: var(--azul-opacity60);
    border-radius: 0.625rem;
    width: 100%;
    padding: 2rem;
}
.trabajos .buttons{
    margin-bottom: 1.25rem;
    display: grid;
    gap: 0.625rem;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
}
.trabajos input{
    display: none;
}
.trabajos label{
    min-width: 8.1875rem;
    width: 100%;
    padding: 0.625rem;
    text-align: center;
    border-radius: 0.625rem;
    background-color: var(--azul-1);
    cursor: pointer;
}
.trabajos label:hover{
    background-color: var(--celeste-opacity40);
    color: var(--blanco);
}
.trabajos .photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 300px;
    gap: 0.625rem;
}
.trabajos .photos img{
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    object-fit: cover;
}

/* ----- NOSOTROS ----- */

.adn{
    background-color: var(--azul-1);
}
.adn article{
    display: flex;
    justify-content: space-between;
}
.adn div:first-child{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    align-items: start;
}
.adn .imagotipo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 18.75rem;
    background-color: #ffffff;
    border-radius: 0.625rem;
}
.adn img{
    width: 85%;
}

.mision{
    background-image: linear-gradient(var(--azul-1), var(--azul-3));
    display: flex;
    gap: 0.625rem;
    flex-direction: column;
    align-items: center;
}
.mision .cards{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
}
.mision article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-opacity60);
    height: 100%;
    gap: 0.625rem;
    padding: 1.5rem;
    border-radius: 0.625rem;
}
.mision img{
    width: 50%;
    margin-bottom: 0.625rem;
}

.equipo{
    background-image: linear-gradient(var(--azul-3), var(--azul-1));
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
}
.equipo .cardsEquipo{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    align-items: center;
}
.equipo article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--celeste-opacity40);
    height: 100%;
    border-radius: 0.625rem;
    padding-bottom: 10px;
}
.equipo h3{
    margin-bottom: 0.625rem;
}
.equipo img{    
    margin-bottom: 0.625rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

/* ----- EXPERIENCIA ----- */

.bienvenidos{
    background-color:  var(--azul-1);
}
.bienvenidos h2{
    margin-bottom: 1rem;
}

.eden{
    background-image: linear-gradient(var(--azul-1), var(--azul-3));
    display: flex;
    gap: 2rem;
}
.eden article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.eden img{
    width: 45%;
    height: 30vw;
    border-radius: 0.625rem;
}

.comencemos{
    background-image: linear-gradient(var(--azul-3), var(--azul-1));
}
.comencemos ol{
    margin-top: 1rem;
    margin-left: 1.2rem;
}

.estasListo{
    background-color:  var(--azul-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.estasListo img{
    width: 100%;
    max-width: 62.5rem;
}

/* ----- CONTACTO ----- */

.sectionContacto{
    background-color: var(--azul-1);
}
.formulario{
    background-color: var(--celeste-opacity40);
    display: flex;
    border-radius: 0.625rem;
    padding: 0.625rem;
}
.formulario article{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    background-color: var(--azul-1);
    border-radius: 0.625rem;
}
.formulario .infoContacto{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.formulario .infoContacto li{
    display: flex;
    gap: 0.625rem;
}
.formulario form{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
}
.formulario .asunto{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.formulario .mensaje{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.datos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}
.datos div{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.formulario input:not(.enviar), .formulario textarea{
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45);
    color: var(--rosa-);
}
.formulario input:not(.enviar):focus-visible, .formulario textarea:focus-visible{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45);
}
.formulario ::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.45);
}

@media (max-width: 1023px) {
    html{
        font-size: 14px;
    }
    .heroSection{
        padding: 0;
    }
    .footerTop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
    }
    footer form {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    footer .email{
        width: 89%;
    }
    footer .enviar{
        width: 10%;
    }
}

@media (max-width: 767px) {
    .navbar-collapse{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgb(19, 39, 63, 0.95);
    }
    header{
        height: var(--altura-header);
        padding: 0;
    }
    header .logo{
        margin: 0 2rem;
    }
    header nav{
        position: relative;
    }
    .fa-bars:before{
        display: block;
        font-size: 1.3rem;
    }
    nav .fa-bars{
        padding: 2rem;
        cursor: pointer;
    }
    .menuBar:checked + .menu{
        display: flex;
    }
    nav .menu{
        display: none;
        position: absolute;
        top: var(--altura-header);
        background-color: rgb(19, 39, 63, 0.95);
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }    
    nav .dropdownMenu{
        position: relative;
        width: 100%;
        top: 1rem;
        border: none;
        border-radius: 0;
        box-shadow: inset 0px 0px 5px 0px white;
        background-color: rgba(19, 39, 63, 0.885);
    }
    nav .dropdownItem a{
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
    nav .menu a, nav button{
        display: block;
        width: 100%;
        padding: 1rem;
    }
    nav .item, nav .button{
        width: 100%;
        padding: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);;
    }
    nav button{
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        border: none;
        border-radius: 0;
    }
    nav button a{
        color: var(--blanco);
    }
    section:not(.proyectos){
        padding: 1.8rem;
    }
    .heroInicio .heroSection{
        padding: 0;
    }
    .servicios{
        align-items: start;
        text-align: start;
    }
    .servicios .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .cta article{
        flex-direction: column;
        gap: 1.8rem;
    }
    .cta div:first-child {
        width: 100%;
    }
    .cta .oficina{
        width: 100%;
    }
    .proyectos{
        align-items: start;
    }
    .sectionExperiencia article{
        align-items: start;
        text-align: start;
    }
    .presupuesto article{
        align-items: start;
        text-align: start;
    }
    .contacto .formulario{
        flex-direction: column;
    }
    .contacto .formulario article{
        width: 100%;
        flex-direction: row;
    }
    .contacto .formulario .infoContacto{
        width: 50%;
    }
    .contacto .formulario article div{
        width: 50%;
    }
    .contacto .formulario form{
        width: 100%;
    }
    .footerTop{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footerContacto, .direccion, footer form {
        align-items: center;
    }
    footer form div{
        width: 100%;
        text-align: center;
    }
    footer .email{
        width: 70%;
    }
    footer .enviar{
        width: 17%;
    }
}

@media (max-width: 424px) {
    html{
        font-size: 12px;
    }
    section:not(.proyectos){
        padding: 1.3rem;
    }
    .servicios .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    footer .enviar{
        width: 20%;
    }
}
