/**Utilities**/
/**Base**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

html {
  color: white;
  font-size: 16px;
  scroll-behavior: smooth; }

section:not(.proyectos) {
  padding: 2.5rem; }

.textShadow {
  text-shadow: 0.25rem 0rem 0.6875rem black; }

ul li {
  list-style: none; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4, p, a, input {
  font-size: 1rem; }

textarea {
  resize: none;
  min-height: 1.2rem;
  max-height: 4rem;
  width: 100%; }

/**Layouts**/
header {
  background-color: #13273f;
  width: 100%;
  height: 5.2rem;
  position: fixed;
  top: 0;
  padding: 0 2.5rem;
  z-index: 2; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: none;
    flex-wrap: wrap; }
    header nav .logo {
      width: 7.5rem; }
    header nav .fa-bars:before {
      display: none; }
    header nav .menuBar {
      display: none; }
    header nav .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.4rem; }
      header nav .menu .item {
        padding: 2rem 0;
        display: inline; }
        header nav .menu .item:hover {
          text-decoration: underline; }
        header nav .menu .item a {
          padding: 2rem 0;
          text-decoration: none;
          color: white; }
      header nav .menu .dropdown .dropdownMenu {
        display: none;
        background-color: #13273f;
        position: absolute;
        top: 5.2rem;
        border: 1px solid pink;
        border-radius: 0 0 10px 10px;
        z-index: 99; }
      header nav .menu .dropdown:hover .dropdownMenu {
        display: block; }
      header nav .menu .dropdown:hover .fa-angle-up {
        display: inline;
        margin-left: 0.5rem;
        text-decoration: none; }
      header nav .menu .dropdown:hover .fa-angle-down {
        display: none; }
      header nav .menu .dropdown .fa-angle-down {
        margin-left: 0.5rem; }
      header nav .menu .dropdown .fa-angle-up {
        display: none; }
      header nav .menu .dropdown li a {
        display: block;
        padding: 0.625rem;
        border: 1px solid rgba(255, 255, 255, 0.5); }
        header nav .menu .dropdown li a:hover {
          padding: 0.625rem;
          border: 1px solid white; }

main h1 {
  text-transform: uppercase;
  margin: 1.25rem 0;
  text-align: center; }
  main h1 i {
    height: 3rem;
    display: inline;
    color: #ffffff00;
    background: url(../assets/calma.png) no-repeat center;
    background-size: contain; }

main .scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: none;
  position: absolute;
  width: 56px;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 800ms 3 ease;
  color: white;
  text-decoration: none; }
  main .scroll:visited {
    color: white; }
  main .scroll .fa-chevron-down {
    display: flex;
    align-items: center;
    height: 1.2rem;
    font-size: 3rem; }
    main .scroll .fa-chevron-down:first-of-type {
      opacity: 33%;
      font-size: 2rem; }
    main .scroll .fa-chevron-down:nth-of-type(2) {
      opacity: 66%;
      font-size: 3rem; }
    main .scroll .fa-chevron-down:last-of-type {
      font-size: 4rem; }

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0); }
  15% {
    transform: translate(-50%, -30px); }
  30% {
    transform: translate(-50%, 15px); }
  45% {
    transform: translate(-50%, -15px); }
  60% {
    transform: translate(-50%, 9px); }
  75% {
    transform: translate(-50%, -6px); } }

.heroInicio {
  background: url(../assets/HeroInicio.png) no-repeat center;
  background-size: cover;
  padding: 2.5rem;
  height: 100vh; }
  .heroInicio section {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
    .heroInicio section button {
      background-color: #ffddd1;
      padding: 0.9375rem 1.5625rem;
      border: none;
      border-radius: 3.125rem;
      text-transform: uppercase;
      font-weight: 500; }
    .heroInicio section a {
      text-decoration: none; }
  .heroInicio div {
    display: flex;
    height: 10%;
    align-items: center; }
    .heroInicio div i {
      display: flex;
      align-items: center;
      background-color: white;
      color: #13273f;
      padding: 0.625rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 3.125rem; }
    .heroInicio div p {
      color: white;
      padding-left: 0.9375rem; }

.heroPortfolio, .heroNosotros {
  padding: 2.5rem;
  height: 100vh; }

.heroPortfolio video, .heroNosotros video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1; }

.heroSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }

.heroExperiencia, .heroContacto {
  padding: 2.5rem;
  height: 100vh;
  background-image: radial-gradient(#3997bb, #13273f);
  color: white; }

footer {
  background-color: #ffddd1;
  color: #13273f;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; }
  footer .footerTop, footer .footerBottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  footer .footerContacto, footer .direccion, footer form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; }
    footer .footerContacto li, footer .direccion li, footer form li {
      display: flex;
      gap: 0.625rem; }
  footer input {
    background-color: transparent;
    color: #13273f;
    padding: 0.5rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #13273f; }
  footer .redes {
    display: flex;
    width: 5rem;
    align-items: center;
    justify-content: space-between; }
    footer .redes a {
      text-decoration: none;
      color: #13273f; }

.cta {
  background-color: #13273f; }
  .cta article {
    display: flex;
    justify-content: space-between; }
    .cta article div:first-child {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1.25rem; }
      .cta article div:first-child h3 {
        color: #ffddd1; }
    .cta article div:last-child {
      width: 45%; }
      .cta article div:last-child img {
        width: 100%;
        border-radius: 0.625rem; }

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  background-image: linear-gradient(#13273f, #3997bb); }
  .servicios .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem; }
    .servicios .cards article {
      background-color: rgba(124, 189, 209, 0.4);
      padding: 1.875rem;
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: 0.9375rem;
      border-radius: 0.625rem; }
      .servicios .cards article i {
        font-size: 4rem; }
      .servicios .cards article a {
        color: #ffddd1;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.625rem; }
        .servicios .cards article a i {
          font-size: 1rem; }

.proyectos {
  background-color: #3997bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 2.5rem 0; }
  .proyectos .carousel {
    width: 100%; }
    .proyectos .carousel .slider {
      display: flex;
      overflow: hidden;
      gap: 0.625rem; }
      .proyectos .carousel .slider .slideTrack {
        display: flex;
        gap: 0.625rem;
        animation: scroll 10s linear infinite; }
        .proyectos .carousel .slider .slideTrack img {
          height: 15.625rem;
          width: 15.625rem;
          object-fit: cover;
          border-radius: 0.625rem; }
    .proyectos .carousel .secondSlider {
      margin-top: 0.625rem; }
      .proyectos .carousel .secondSlider .slideTrack {
        animation: slider 10s linear infinite; }
    .proyectos .carousel:hover .slideTrack {
      animation-play-state: paused; }

@keyframes scroll {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

@keyframes slider {
  from {
    transform: translateX(-9%); }
  to {
    transform: translateX(-109%); } }

.sectionExperiencia {
  background-image: linear-gradient(#3997bb, #13273f); }
  .sectionExperiencia article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem; }
    .sectionExperiencia article video {
      width: 100%; }

.presupuesto {
  background-color: #13273f; }
  .presupuesto article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem; }

.trabajos {
  background-image: linear-gradient(#13273f, #3997bb); }
  .trabajos article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; }
    .trabajos article .gallery {
      background-color: rgba(19, 39, 63, 0.6);
      border-radius: 0.625rem;
      width: 100%;
      padding: 2rem; }
      .trabajos article .gallery .buttons {
        margin-bottom: 1.25rem;
        display: grid;
        gap: 0.625rem;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        align-items: center; }
        .trabajos article .gallery .buttons input {
          display: none; }
        .trabajos article .gallery .buttons label {
          min-width: 8.1875rem;
          width: 100%;
          padding: 0.625rem;
          text-align: center;
          border-radius: 0.625rem;
          background-color: #13273f;
          cursor: pointer; }
          .trabajos article .gallery .buttons label:hover {
            background-color: rgba(124, 189, 209, 0.4);
            color: #ffffff; }
      .trabajos article .gallery .photos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: 300px;
        gap: 0.625rem; }
        .trabajos article .gallery .photos img {
          width: 100%;
          height: 100%;
          border-radius: 0.625rem;
          object-fit: cover; }

.adn {
  background-color: #13273f; }
  .adn article {
    display: flex;
    justify-content: space-between; }
    .adn article div:first-child {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.25rem;
      align-items: start; }
    .adn article div:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;
      height: 18.75rem;
      background-color: #ffffff;
      border-radius: 0.625rem; }
      .adn article div:last-child img {
        width: 85%; }

.mision {
  background-image: linear-gradient(#13273f, #3997bb);
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: center; }
  .mision .cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    align-items: center; }
    .mision .cards article {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(19, 39, 63, 0.6);
      height: 100%;
      gap: 0.625rem;
      padding: 1.5rem;
      border-radius: 0.625rem; }
      .mision .cards article img {
        width: 50%;
        margin-bottom: 0.625rem; }

.equipo {
  background-image: linear-gradient(#3997bb, #13273f);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center; }
  .equipo .cardsEquipo {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    align-items: center; }
    .equipo .cardsEquipo article {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(124, 189, 209, 0.4);
      height: 100%;
      border-radius: 0.625rem;
      gap: 0.9375rem;
      padding-bottom: 0.9375rem; }
      .equipo .cardsEquipo article div:first-of-type {
        width: 100%; }
        .equipo .cardsEquipo article div:first-of-type img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 0.625rem;
          border-top-right-radius: 0.625rem; }
      .equipo .cardsEquipo article h3 {
        margin-bottom: 0.625rem; }

.bienvenidos {
  background-color: #13273f; }
  .bienvenidos h2 {
    margin-bottom: 1rem; }

.eden {
  background-image: linear-gradient(#13273f, #3997bb);
  display: flex;
  gap: 2rem; }
  .eden article {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .eden img {
    width: 45%;
    height: 30vw;
    border-radius: 0.625rem; }

.comencemos {
  background-image: linear-gradient(#3997bb, #13273f); }
  .comencemos ol {
    margin-top: 1rem;
    margin-left: 1.2rem; }

.estasListo {
  background-color: #13273f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }
  .estasListo img {
    width: 100%;
    max-width: 62.5rem; }

.sectionContacto {
  background-color: #13273f; }

.formulario {
  background-color: rgba(124, 189, 209, 0.4);
  display: flex;
  border-radius: 0.625rem;
  padding: 0.625rem; }
  .formulario article {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    background-color: #13273f;
    border-radius: 0.625rem; }
    .formulario article .infoContacto {
      display: flex;
      flex-direction: column;
      gap: 0.625rem; }
      .formulario article .infoContacto li {
        display: flex;
        gap: 0.625rem; }
  .formulario form {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem; }
    .formulario form .datos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.25rem; }
      .formulario form .datos div {
        display: flex;
        flex-direction: column;
        gap: 0.625rem; }
      .formulario form .datos input {
        background-color: transparent;
        border: none;
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45);
        color: #ffddd1; }
        .formulario form .datos input:focus-visible {
          outline: none;
          background-color: transparent;
          border: none;
          border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45); }
    .formulario form .asunto {
      display: flex;
      flex-direction: column;
      gap: 0.625rem; }
      .formulario form .asunto input {
        background-color: transparent;
        border: none;
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45);
        color: #ffddd1; }
        .formulario form .asunto input:focus-visible {
          outline: none;
          background-color: transparent;
          border: none;
          border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45); }
    .formulario form .mensaje {
      display: flex;
      flex-direction: column;
      gap: 0.625rem; }
      .formulario form .mensaje textarea {
        background-color: transparent;
        border: none;
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45);
        color: #ffddd1; }
        .formulario form .mensaje textarea:focus-visible {
          outline: none;
          background-color: transparent;
          border: none;
          border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.45); }
      .formulario form .mensaje ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.45); }

.anchor-offset {
  padding-top: 83px !important; }

section:last-of-type {
  padding-bottom: 83px !important; }

/**Components**/
button {
  background-color: #ffddd1;
  padding: 0.3125rem 0.9375rem;
  border: none;
  border-radius: 3.125rem; }
  button a {
    color: #13273f;
    text-decoration: none; }

/**Media**/
@media (max-width: 1024px) {
  html {
    font-size: 14px; }
  .heroSection {
    padding: 0; }
  .mision .cards {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); }
  footer .footerTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem; }
    footer .footerTop form {
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 4; }
      footer .footerTop form .email {
        width: 89%; }
      footer .footerTop form .enviar {
        width: 10%; } }

@media (max-width: 767px) {
  header {
    height: 5.2rem;
    padding: 0; }
    header nav {
      position: relative; }
      header nav .logo {
        margin: 0 2rem; }
      header nav .fa-bars {
        padding: 2rem;
        cursor: pointer; }
        header nav .fa-bars:before {
          display: block;
          font-size: 1.3rem; }
      header nav .menuBar:checked + .menu {
        display: flex; }
      header nav .menu {
        display: none;
        position: absolute;
        top: 5.2rem;
        background-color: rgba(19, 39, 63, 0.95);
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 0; }
        header nav .menu .dropdownMenu {
          position: relative;
          width: 100%;
          top: 1rem;
          border: none;
          border-radius: 0;
          box-shadow: inset 0px 0px 5px 0px white;
          background-color: rgba(19, 39, 63, 0.885); }
          header nav .menu .dropdownMenu .dropdownItem a {
            border-bottom: none;
            border-left: none;
            border-right: none; }
        header nav .menu .item, header nav .menu .button {
          width: 100%;
          padding: 0;
          border-top: 1px solid rgba(255, 255, 255, 0.5); }
        header nav .menu a, header nav .menu button {
          display: block;
          width: 100%;
          padding: 1rem; }
        header nav .menu button {
          background-color: rgba(255, 255, 255, 0);
          padding: 0;
          border: none;
          border-radius: 0; }
          header nav .menu button a {
            color: white; }
  section:not(.proyectos) {
    padding: 1.8rem; }
  .heroInicio .heroSection {
    padding: 0; }
  .servicios {
    align-items: start;
    text-align: start; }
    .servicios .cards {
      grid-template-columns: repeat(2, 1fr); }
  .cta article {
    flex-direction: column;
    gap: 1.8rem; }
    .cta article div:first-child {
      width: 100%; }
    .cta article div:last-child {
      width: 100%; }
  .proyectos {
    align-items: start; }
  .sectionExperiencia article {
    align-items: start;
    text-align: start; }
  .presupuesto article {
    align-items: start;
    text-align: start; }
  .contacto .formulario {
    flex-direction: column; }
    .contacto .formulario article {
      width: 100%;
      flex-direction: row; }
      .contacto .formulario article div {
        width: 50%; }
      .contacto .formulario article .infoContacto {
        width: 50%; }
    .contacto .formulario form {
      width: 100%; }
  footer .footerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    footer .footerTop form div {
      width: 100%;
      text-align: center; }
    footer .footerTop form .email {
      width: 70%; }
    footer .footerTop form .enviar {
      width: 17%; }
  footer .footerContacto, footer .direccion, footer form, footer .direccion, footer footer form {
    align-items: center; } }

@media (max-width: 425px) {
  html {
    font-size: 12px; }
  section:not(.proyectos) {
    padding: 1.3rem; }
  .servicios .cards {
    grid-template-columns: repeat(1, 1fr); }
  .mision .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; }
  footer .enviar {
    width: 20%; } }
