/**Utilities**/
/**Base**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

html {
  color: white;
  font-size: 16px; }

section:not(.proyectos) {
  padding: 2.5rem; }

.textShadow {
  text-shadow: 0.25rem 0rem 0.6875rem black; }

ul li {
  list-style: none; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4, p, a, input {
  font-size: 1rem; }

textarea {
  resize: none;
  min-height: 1.2rem;
  max-height: 4rem;
  width: 100%; }

/**Layouts**/
header {
  background-color: #13273f;
  width: 100%;
  height: 5.2rem;
  position: fixed;
  top: 0;
  padding: 0 2.5rem;
  z-index: 2; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: none;
    flex-wrap: wrap; }
    header nav .logo {
      width: 7.5rem; }
    header nav .fa-bars:before {
      display: none; }
    header nav .menuBar {
      display: none; }
    header nav .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: end;
      gap: 1.4rem; }
      header nav .menu .item {
        padding: 2rem 0;
        display: inline; }
        header nav .menu .item:hover {
          text-decoration: underline; }
        header nav .menu .item a {
          padding: 2rem 0;
          text-decoration: none;
          color: white; }
      header nav .menu .dropdown .dropdownMenu {
        display: none;
        background-color: #13273f;
        position: absolute;
        top: 5.2rem;
        border: 1px solid pink;
        border-radius: 0 0 10px 10px;
        z-index: 99; }
      header nav .menu .dropdown:hover .dropdownMenu {
        display: block; }
      header nav .menu .dropdown:hover .fa-angle-up {
        display: inline;
        margin-left: 0.5rem;
        text-decoration: none; }
      header nav .menu .dropdown:hover .fa-angle-down {
        display: none; }
      header nav .menu .dropdown .fa-angle-down {
        margin-left: 0.5rem; }
      header nav .menu .dropdown .fa-angle-up {
        display: none; }
      header nav .menu .dropdown li a {
        display: block;
        padding: 0.625rem;
        border: 1px solid rgba(255, 255, 255, 0.5); }
        header nav .menu .dropdown li a:hover {
          padding: 0.625rem;
          border: 1px solid white; }

h1 {
  text-transform: uppercase;
  margin: 1.25rem 0;
  text-align: center; }
  h1 i {
    height: 3rem;
    display: inline;
    color: #ffffff00;
    background: url(../assets/calma.png) no-repeat center;
    background-size: contain; }

.heroInicio {
  background: url(../assets/HeroInicio.png) no-repeat center;
  background-size: cover;
  padding: 2.5rem;
  height: 100vh; }
  .heroInicio section {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
    .heroInicio section button {
      background-color: #ffddd1;
      padding: 0.9375rem 1.5625rem;
      border: none;
      border-radius: 3.125rem;
      text-transform: uppercase;
      font-weight: 500; }
    .heroInicio section a {
      text-decoration: none; }
  .heroInicio div {
    display: flex;
    height: 10%;
    align-items: center; }
    .heroInicio div i {
      display: flex;
      align-items: center;
      background-color: white;
      color: #13273f;
      padding: 0.625rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 3.125rem; }
    .heroInicio div p {
      color: white;
      padding-left: 0.9375rem; }

.heroPortfolio, .heroNosotros {
  padding: 2.5rem;
  height: 100vh; }

.heroPortfolio video, .heroNosotros video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1; }

.heroSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }

.heroExperiencia, .heroContacto {
  padding: 2.5rem;
  height: 100vh;
  background-image: radial-gradient(#3997bb, #13273f);
  color: white; }

footer {
  background-color: #ffddd1;
  color: #13273f;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; }
  footer .footerTop, footer .footerBottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  footer .footerContacto, footer .direccion, footer form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; }
    footer .footerContacto li, footer .direccion li, footer form li {
      display: flex;
      gap: 0.625rem; }
  footer input {
    background-color: transparent;
    color: #13273f;
    padding: 0.5rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #13273f; }
  footer .redes {
    display: flex;
    width: 5rem;
    align-items: center;
    justify-content: space-between; }
    footer .redes a {
      text-decoration: none;
      color: #13273f; }

.cta {
  background-color: var(--azul-1); }
  .cta article {
    display: flex;
    justify-content: space-between; }
    .cta article div:first-child {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1.25rem; }
      .cta article div:first-child h3 {
        color: var(--rosa-); }
    .cta article div:last-child {
      width: 45%; }
      .cta article div:last-child img {
        width: 100%;
        border-radius: 0.625rem; }

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  background-image: linear-gradient(var(--azul-1), var(--azul-3)); }
  .servicios .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem; }
    .servicios .cards article {
      background-color: var(--celeste-opacity40);
      padding: 1.875rem;
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: 0.9375rem;
      border-radius: 0.625rem; }
      .servicios .cards article i {
        font-size: 4rem; }
      .servicios .cards article a {
        color: var(--rosa-);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.625rem; }
        .servicios .cards article a i {
          font-size: 1rem; }

.proyectos {
  background-color: var(--azul-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 2.5rem 0; }
  .proyectos .carousel {
    width: 100%; }
    .proyectos .carousel .slider {
      display: flex;
      overflow: hidden;
      gap: 0.625rem; }
      .proyectos .carousel .slider .slideTrack {
        display: flex;
        gap: 0.625rem;
        animation: scroll 10s linear infinite; }
        .proyectos .carousel .slider .slideTrack img {
          height: 15.625rem;
          width: 15.625rem;
          object-fit: cover;
          border-radius: 0.625rem; }
    .proyectos .carousel .secondSlider {
      margin-top: 0.625rem; }
      .proyectos .carousel .secondSlider .slideTrack {
        animation: slider 10s linear infinite; }
    .proyectos .carousel:hover .slideTrack {
      animation-play-state: paused; }

@keyframes scroll {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

@keyframes slider {
  from {
    transform: translateX(-9%); }
  to {
    transform: translateX(-109%); } }

.sectionExperiencia {
  background-image: linear-gradient(var(--azul-3), var(--azul-1)); }
  .sectionExperiencia article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem; }
    .sectionExperiencia article video {
      width: 100%; }

.presupuesto {
  background-color: var(--azul-1); }
  .presupuesto article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem; }

/**Components**/
button {
  background-color: #ffddd1;
  padding: 0.3125rem 0.9375rem;
  border: none;
  border-radius: 3.125rem; }
  button a {
    color: #13273f;
    text-decoration: none; }

/**Media**/
