@media (max-width: 425px) {
    html{
        font-size: 12px;
    }
    section:not(.proyectos){
        padding: 1.3rem;
    }
    .servicios{
        .cards{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .mision{
        .cards{
            @include flex(column, center, center, 1.5rem);
        }
    }
    footer{
        .enviar{
            width: 20%;
        }
    } 
}